html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
body {
    font-family: monospace;
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #f18c8e;
    color: #305f72;
    height: 150px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 50px 50px;
    font-family: Arial Black
  }
  
  .header-list li {
    float: left;
    padding: 65px 20px;
    font-size: 20px;
  }
  
  .main {
    padding: 10px 70px;
    background-color: #fff;
  }
  
  .copy-container h1 {
    font-size: 100px;
    color:#305f72
  }
  
  .copy-container h2 {
    font-size: 50px;
    color:#305f72;
  }
  
  .copy-container span {
    color: #305f72;
  }
  
  .contents {
    height: 400px;
    margin-top: 150px;
    color: #475c7A;
  }
  
  .section-title {
    border-bottom: 5px solid #f0b7a4;
    font-size: 35px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    font-family: monospace;
  }
  
  .contents-item {
    float: left;
    margin-right: 53px;
  }
  
  .contents-item p {
    font-size: 18px;
    margin-top: 30px;
  }
  
  .contents2 {
    height: 1000px;
    color: #475c7A;
  } 
  .contents3 {
    height: 400px;
    color: #475c7A;
  } 
  .contents4 {
    height: 700px;
    color: #475c7A;
  }
  .contents5 {
    height: 400px;
    color: #475c7A;
  }
  .contents6 {
    height: 400px;
    color: #475c7A;
  }
  
  .contact-form {
    font-size: 20px;
    color: #475c7A;
  }
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 12px;
    border: 1px solid #dee7ec;
  }
  
  .contact-submit {
    background-color: #dee7ec;
    color: #889eab;
  }
  
  .footer {
    background-color: rgba(48, 95, 114, 1.00);
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
  }
  
  img {
    float: right;
    padding: 20px 5px;
    width: 160px;
  }
  
  .kulenak ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
  }
  
  .kulenak li {
    list-style-type: none;
    float: left;
  }
  
  .kulenak li a {
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .kulenak li a:hover {
    background-color: #2b5566;
  }
  
  .akun-kulenak img{
    padding: 1px;
    width: 25px;
  }
  .akun-kulenak ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }
  
  .akun-kulenak li {
    list-style-type: none;
    float: left;
  }
  
  .akun-kulenak li a {
    display: block;
    color: white;
    text-align: right;
    padding: 0px;
    text-decoration: none;
  }
  
  .akun-kulenak li a:hover {
    background-color: #2b5566;
  }
  
  .informasi {
    float: left;
  }
  
  .informasi h3 {
    font-family: Josefin Sans Regular;
    font-size: 25px;
    margin: 15px;
  }
  
  .copyright {
    padding: 60px 420px;
    margin: 10px;
  }
  
