html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 10;
  padding: 5;
}
body {
    font-family: monospace;
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #f18c8e;
    color: #305f72;
    height: 150px;
  }
  
  .header-logo{
    float: right;
    padding: 5px 5px;
    width: 160px;
  }
  
  .header-list ul {
	text-align: right;
    font-size: 17px;
	list-style-type: none;
    margin: 10px -250px;
    padding: 70px;
    overflow: hidden;
  }
  .header-list li{
	padding: 0px 10px;
	list-style-type: none;
	float: left;
  }
  .header-list li a{
	display: block;
    text-align: right;
    padding: 0px;
    text-decoration: none;
  }
  
  .main {
    padding: 10px 70px;
    background-color: #fff;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
.copy-container ul {
  position: relative;
  display: flex;
}

.copy-container li {
  list-style: none;
}

.copy-container label {
  position: relative;
}

.copy-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  min-height: 200px;
  width: 100%;
  z-index: 100;
}

.copy-container div {
  position: relative;
  height: 80px;
  width: 80px;
  background: #18191f;
  color: #555;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* div:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
} */

input[type="checkbox"]:checked ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
  
  .copy-container h2 {
    font-size: 50px;
    color:#305f72;
  }
  
  .copy-container span {
    color: #305f72;
  }
  
  .contents {
    height: 620px;
    margin-top: 150px;
    color: #475c7A;
  }
  
  .section-title {
    border-bottom: 5px solid #f0b7a4;
    font-size: 35px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    font-family: monospace;
  }
  
  .contents-item {
    float: left;
    margin-right: 53px;
  }
  
 .contents-item {
    float: left;
    margin-right: 53px;
  }
  
  .contents-item p {
    font-size: 100%;
	  min-height:fit-content;
    margin-top: 30px;
  }
  
  .contents2 {
    height: 1000px;
    color: #475c7A;
  } 
  .contents3 {
    height: 700px;
    color: #475c7A;
  } 
  .contents4 {
    height: 700px;
    color: #475c7A;
  }
  .contents5 {
    height: 500px;
    color: #475c7A;
  }
  .contents6 {
    height: 500px;
    color: #475c7A;
  }
  
  
  .contact-form {
    font-size: 20px;
    color: #475c7A;
  }
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 12px;
    border: 1px solid #dee7ec;
  }
  
  .contact-submit {
    background-color: #dee7ec;
    color: #889eab;
  }
  
  footer {
    background-color: rgba(48, 95, 114, 1.00);
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
  }
  
  img {
    float: right;
    padding: 20px 5px;
    width: 160px;
  }
  
  .kulenak ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
  }
  
  .kulenak li {
    list-style-type: none;
    float: left;
  }
  
  .kulenak li a {
    font-size: 12px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .kulenak li a:hover {
    background-color: #2b5566;
  }
  
  .akun-kulenak img{
    padding: 1px;
    width: 25px;
  }
  .akun-kulenak ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }
  
  .akun-kulenak li {
    list-style-type: none;
    float: left;
  }
  
  .akun-kulenak li a {
    display: block;
    color: white;
    text-align: right;
    padding: 0px;
    text-decoration: none;
  }
  
  .akun-kulenak li a:hover {
    background-color: #2b5566;
  }
  
  .informasi {
    float: left;
  }
  
  .informasi h3 {
    font-family: Josefin Sans Regular;
    font-size: 25px;
    margin: 15px;
  }
  
  .copyright {
    padding: 60px 420px;
    margin: 10px;
  }
  
